body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fffde7;
    /* 淡黄色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    /* 或者使用 contain，或指定具体大小 */
    background-image: url("../images/bg.jpg");
}

.login-container {
    background-color:#fffde7;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 350px;
}

.login-container h1 {
    color: #fbc02d;
    /* 明亮的黄色标题 */
    font-size: 32px;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #fdd835;
    /* 边框为黄色 */
    border-radius: 15px;
    outline: none;
    background-color: #fff9c4;
    /* 输入框淡黄色背景 */
    color: #6d4c41;
    /* 深棕色字体 */
}

.login-container input[type="submit"] {
    width: 85%;
    padding: 12px;
    background-color: #fbc02d;
    /* 按钮黄色背景 */
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.login-container input[type="submit"]:hover {
    background-color: #fdd835;
    /* 按钮悬停时浅黄色 */
}


.footer-text {
    margin-top: 20px;
    font-size: 12px;
    color: #8d6e63;
    /* 深棕色小字 */
}

.naidragon-image {
    width: 150px; /* 调整图片宽度 */
    height: auto; /* 自动适应高度 */
    margin-bottom: 10px; /* 与下方标题的间距 */
}